@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

// Common overlay styles
%overlay-base {
  position: fixed;
  overflow: hidden;
  background-color: $ui-02;
  display: grid;
}

// Common header styles
%header-base {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $ui-03;
  border-bottom: 1px solid $text-03;
}

// Desktop overlay
.desktopOverlay {
  @extend %overlay-base;
  top: layout.$spacing-09;
  right: 0;
  height: calc(100vh - layout.$spacing-09);
  min-width: 27rem;
  grid-template-rows: auto 1fr auto;
  border-left: 1px solid $text-03;
  z-index: 999;
}

// Tablet overlay
.tabletOverlay {
  @extend %overlay-base;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: layout.$spacing-09;
  grid-template-rows: 1fr auto;
  z-index: 9999;
}

.tabletOverlayHeader {
  button {
    background-color: $brand-01;
  }

  .headerContent {
    color: $ui-02;
  }
}

.desktopHeader {
  @extend %header-base;
}

.headerContent {
  @include type.type-style('heading-compact-02');
  padding: 0 layout.$spacing-05;
  color: $ui-05;
}

.closeButton {
  background-color: $ui-02;
}

.overlayContent {
  padding: layout.$spacing-05;
  overflow-y: auto;
}
